@page "/employeepage"

<h3><b> <p align="center" style="color: danger">EMPLOYEES LIST </p></b></h3>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    
    <div class="card-deck">
        @foreach (var emp in Employees)
        {    
            <DisplayEmployee Employee="emp" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged" />
        }
    </div>
}
