@page "/"
<link rel="stylesheet" href="style.css">

<h3><th><b><p  class="btn-info" style="color: danger m-1" align="center">MENAMPILKAN TABLE SESUAI VIDEO TUTORIAL BLAZOR - HTTP CLIENT</p></b></th></h3>
<hr>
<br>
<h4><b><p style="color: indigo; m-1">NAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>SITI PARIDAH</i></p></b></h4>
<h4><b><p style="color: indigo; m-1">NIM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i> 72190311</i></p></b></h4>
<h4><b><p style="color: indigo; m-1">PRODI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i> SISTEM INFORMASI</i></p></b></h4>